<%- include ('partials/header') %>
<h2 class="text-warning">Login</h2><br>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="favicon/download.png" class="brand_logo" alt="logo">
					</div>
				</div>
				<div class="f-flex justify-content-center form_container">
					<form action="/login" method="post" >
						<div id="form-group col-md-4" class="input-group mb-2">
							<label for="username" class="text-warning"></label><br>
								<input type="text" id="username" name="username" placeholder="username" class="input_field"><br>
						</div>
						<div class="input-group mb-2">
							<label for="password"></label><br>
								<input type="password" id="password" name="password" placeholder="password"  class="input_field"><br>
						</div>
					</div>
					<br>
						<% if (e) {%>
					<p style="color:red"><%=e%></p>
						<%}%>
					<div class="d-flex justify-content-center mt-3 login_container">
						<input type="submit" value="Login" class="btn login_btn">
					</div>
				</form><br>
				<div class="d-flex justify-content-center links">
					<a href="./f" class="text-warning" id="forgot">forgot password?</a>
				</div>
				</div>
			</div>
		</div>
	</div>
		</div>
</div>

<%- include ('partials/footer') %>
