body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

*{
	box-sizing: border-box;
}
/*--- navigation bar ---*/
.navbar {
  background-color: white;
}
.nav-link,
.navbar-brand {
  color: black;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color:; 
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
color: black;
}

#brand{

  font-size: 35px;
  font-style: oblique;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
body {
	font-family: "Times New Roman", Times, serif;
    text-align: center;
    /*background-color: #FF6347;*/
}

footer{
	font-style: italic;
}
.logo{
	max-width: 55%;
	height: 2em;
	margin-left: 0;
}
.form-group{
width: 100%;
	   max-width:330px;
padding: 15px;
margin: auto;
}
 body,
                html {
                        margin: 0;
                        padding: 0;
                        height: 100%;
                /*      background: #FF6347 ;*/
                }
                .user_card {
                        height: 400px;
                        width: 350px;
                        margin-top: 55px;
                        margin-bottom: auto;
                        background: ;    #343a40 !important;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding: 10px;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        border-radius: 5px;

                }
                .brand_logo_container {
                        position: absolute;
                        height: 170px;
                        width: 170px;
                        top: -75px;
                        border-radius: 50%;
                        padding: 10px;
                        text-align: center;
                        margin-bottom: 100px;
                }
                .brand_logo {
                        height: 150px;
                        width: 150px;
                        border-radius: 50%;
                        border: 2px solid white;
                }
                .form_container {
                        margin-top: 75px;
                }
                .login_btn {
                        width: 100%;
                        background: #c0392b !important;
                        color: white !important;
                }
                .login_btn:focus {
                        box-shadow: none !important;
                        outline: 0px !important;
                }
                .login_container {
                        padding: 0 2rem;
                }
                .input-group-text {
                        background: #c0392b !important;
                        color: white !important;
                        border: 0 !important;
                        border-radius: 0.25rem 0 0 0.25rem !important;
                }
                .input_user,
                .input_pass:focus {
                        box-shadow: none !important;
                        outline: 0px !important;
                }
.input_field{
        margin: auto;
        display: block;
}


/*
.the-form {
    display: inline-block;
}*/
